In [1]:
import pandas as pd
import nltk

In [2]:
df=pd.read_csv("final.csv")
df.head()

,ProductId,UserId,ProfileName,HelpfulnessNumerator,Score,Time,Summary,Text
0,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0.0,0,1.346976e+09,Not as Advertised,product arrived labeled as jumbo salted peanut...
1,B000UA0QIQ,A395BORC6FGVXV,Karl,3.0,0,1.307923e+09,Cough Medicine,if you are looking for the secret ingredient i...
2,B0009XLVG0,A327PCT23YH90,LT,1.0,0,1.339546e+09,My Cats Are Not Fans of the New Food,my cats have been happily eating felidae plati...
3,B001GVISJM,A3KLWF6WQ5BNYO,Erica Neathery,0.0,0,1.348099e+09,poor taste,i love eating them and they are good for watch...
4,B001GVISJM,A3RXAU2N8KV45G,lady21,0.0,0,1.332634e+09,Nasty No flavor,"the candy is just red , no flavor . just plan..."

In [3]:
for item in range(0,6):
    print(df['Text'][item])

product arrived labeled as jumbo salted peanuts...the peanuts were actually small sized unsalted. not sure if this was an error or if the vendor intended to represent the product as "jumbo".
if you are looking for the secret ingredient in robitussin i believe i have found it.  i got this in addition to the root beer extract i ordered (which was good) and made some cherry soda.  the flavor is very medicinal.
my cats have been happily eating felidae platinum for more than two years. i just got a new bag and the shape of the food is different. they tried the new food when i first put it in their bowls and now the bowls sit full and the kitties will not touch the food. i've noticed similar reviews related to formula changes in the past. unfortunately, i now need to find a new food that my cats will eat.
i love eating them and they are good for watching tv and looking at movies! it is not too sweet. i like to transfer them to a zip lock baggie so they stay fresh so i can take my time eating them.
the candy is just red , no flavor . just  plan and chewy .  i would never buy them again
this oatmeal is not good. its mushy, soft, i don't like it. quaker oats is the way to go.

In [4]:
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
sword=set(stopwords.words('english'))
ps= PorterStemmer()
for item in range(0,10000):
    tokenizer=nltk.tokenize.WhitespaceTokenizer()
    from nltk.tokenize import RegexpTokenizer
    tokenizer = RegexpTokenizer(r'\w+')
    words=tokenizer.tokenize(df['Text'][item])
    new=[]
    s=" "
    for n in words:
        if n not in sword:
            n=ps.stem(n)
            new.append(n)
    s=s.join(new)
    df.replace(to_replace=[df['Text'][item]] ,value= s, inplace=True)
   # print(s)

In [5]:
df.head()

,ProductId,UserId,ProfileName,HelpfulnessNumerator,Score,Time,Summary,Text
0,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0.0,0,1.346976e+09,Not as Advertised,product arriv label jumbo salt peanut peanut a...
1,B000UA0QIQ,A395BORC6FGVXV,Karl,3.0,0,1.307923e+09,Cough Medicine,look secret ingredi robitussin believ found go...
2,B0009XLVG0,A327PCT23YH90,LT,1.0,0,1.339546e+09,My Cats Are Not Fans of the New Food,cat happili eat felida platinum two year got n...
3,B001GVISJM,A3KLWF6WQ5BNYO,Erica Neathery,0.0,0,1.348099e+09,poor taste,love eat good watch tv look movi sweet like tr...
4,B001GVISJM,A3RXAU2N8KV45G,lady21,0.0,0,1.332634e+09,Nasty No flavor,candi red flavor plan chewi would never buy

In [6]:
df['length'] = df['Text'].apply(len)

In [7]:
df.head()

,ProductId,UserId,ProfileName,HelpfulnessNumerator,Score,Time,Summary,Text,length
0,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0.0,0,1.346976e+09,Not as Advertised,product arriv label jumbo salt peanut peanut a...,115
1,B000UA0QIQ,A395BORC6FGVXV,Karl,3.0,0,1.307923e+09,Cough Medicine,look secret ingredi robitussin believ found go...,114
2,B0009XLVG0,A327PCT23YH90,LT,1.0,0,1.339546e+09,My Cats Are Not Fans of the New Food,cat happili eat felida platinum two year got n...,211
3,B001GVISJM,A3KLWF6WQ5BNYO,Erica Neathery,0.0,0,1.348099e+09,poor taste,love eat good watch tv look movi sweet like tr...,92
4,B001GVISJM,A3RXAU2N8KV45G,lady21,0.0,0,1.332634e+09,Nasty No flavor,candi red flavor plan chewi would never buy,43

In [8]:
df['length'].max()

6183

In [9]:
df['length'].min()

21

In [10]:
df.drop(columns=['ProductId','ProfileName', 'HelpfulnessNumerator','Time','UserId'],inplace=True)

In [11]:
df.head()

,Score,Summary,Text,length
0,0,Not as Advertised,product arriv label jumbo salt peanut peanut a...,115
1,0,Cough Medicine,look secret ingredi robitussin believ found go...,114
2,0,My Cats Are Not Fans of the New Food,cat happili eat felida platinum two year got n...,211
3,0,poor taste,love eat good watch tv look movi sweet like tr...,92
4,0,Nasty No flavor,candi red flavor plan chewi would never buy,43

In [12]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()

In [13]:
vect.fit(df.Text)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [14]:
len(vect.get_feature_names())

13441

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
Score      10000 non-null int64
Summary    10000 non-null object
Text       10000 non-null object
length     10000 non-null int64
dtypes: int64(2), object(2)
memory usage: 312.6+ KB

In [16]:
df.describe()

              Score        length
count  10000.000000  10000.000000
mean       0.500000    240.025900
std        0.500025    237.832297
min        0.000000     21.000000
25%        0.000000    102.000000
50%        0.500000    173.000000
75%        1.000000    290.000000
max        1.000000   6183.000000